
#content_salone {
    padding: 5px;
    background-color:rgb(157, 38, 38);
}
#content_scuola_aperta {
    padding: 5px;
    background-color:rgb(202, 204, 47);
}
#content_denina {
    padding: 5px;
    background-color:#4170B9;
}
#content_pellico {
    padding: 5px;
    background-color:#f4980a;
}
#content_rivoira {
    padding: 5px;
    background-color:#58b02e;
}